<div class="game_wrapper">
  <p>HANGMAN</p>
  <h1><%= @word %></h1>
  <h1><%= @hidden %></h1>
  <h1>Guesses: <%= @guesses %></h1>

  <form name="guess_form" action="/" method="post">
      Guess:&nbsp;
      <input type="text" name="guess" id="guess" size="5" value=""/>
      <button formmethod="post">Guess!</button>
    </form>
</div>
